.partnersSectionComponent {
  width: 100%;
  margin-top: 80px;
  .container {
    .partnersSectionRow {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .partnersSectionHeader {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-bottom: 80px;
        .partnersSectionText {
          font-size: 16px;
          font-weight: 400;
          line-height: 19.36px;
          text-align: center;
        }
      }
      .partnersSectionLogos {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10;
        .partnersSectionTop {
          width: 100%;
          height: 124px;
          display: flex;
          justify-content: space-between;
        }
        .partnersSectionButtom {
          width: 100%;
          height: 124px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.partnersLogo {
  width: auto; /* Genişliği otomatik yaparak orantılı kalmasını sağla */
  height: auto; /* Yüksekliği otomatik yaparak orantılı kalmasını sağla */
  max-width: 150px; /* Konteyner genişliğini aşmamasını sağla */
  max-height: 150px; /* Konteyner yüksekliğini aşmamasını sağla */
  object-fit: contain; /* Resmin orantılarını koruyarak alanı doldurmasını sağla */
}
